/* Document styling */
body {
    font-family: "Gotham", Helvetica, sans-serif;
    width: 1920px;
    margin: 0 auto;
    font-size: 18px;
    background-color: white;
    line-height: 115%;

}


.simulation path {
    stroke: rgba(0,0,0,0.4);
    stroke-width: 2;
    fill: none;
}
.area {
    fill: rgba(0,0,0,0.05);
    stroke-width: 0;
}


.tick text{
    font-size: 20px;
}

.tick line{
    opacity: 0.2;
    stroke:black;
}