/* Document styling */
body {
    font-family: "Gotham XNarrow", Helvetica, sans-serif;
    width: 1920px;
    margin: 0 auto;
    font-size: 18px;
    background-color: black;
    line-height: 115%;
    height:1080px;
    overflow:hidden;
    font-weight: 100;

}

text {
    fill:white;
}


.simulation path {
    stroke: rgba(30,30,30,1.0);
    stroke-width: 5;
    fill: none;
}

.live .liveLine {
    stroke: rgba(255,0,0,1);
    stroke-width: 5;
    fill: none;
}

.live .liveArea {
    fill:rgba(190,0,0,1.0);
}

.liveheight {
    stroke: rgba(255,0,0,1);
    stroke-width: 2;
    fill: none;
}

.liveLabel {
    font-size:25px;
}
.liveValue {
    font-size:30px;
}

.area {
    fill: rgba(0,0,0,0.05);
    stroke-width: 0;
}


.tick text{
    font-size: 25px;
    fill:rgb(70,70,70);
}

.tick line{
    stroke-width: 3px;
    stroke:rgba(30,30,30,1.0);
}

.heightText {
    fill:rgba(70,70,70,1.0);
}