/* Document styling */
body {
    font-family: "Gotham", Helvetica, sans-serif;
    width: 1920px;
    margin: 0 auto;
    font-size: 18px;
    background-color: #262626;
    line-height: 115%;
    height:1080px;
    overflow:hidden;

}

text {
    fill:white;
}


.simulation path {
    stroke: rgba(0,0,0,0.4);
    stroke-width: 5;
    fill: none;
}

.live .liveLine {
    stroke: rgba(255,0,0,1);
    stroke-width: 5;
    fill: none;
}

.live .liveArea {
    fill:rgba(255,0,0,0.4);
}

.liveheight {
    stroke: rgba(255,0,0,1);
    stroke-width: 2;
    fill: none;

}

.liveLabel {
    font-size:25px;
}
.liveValue {
    font-size:30px;
}

.area {
    fill: rgba(0,0,0,0.05);
    stroke-width: 0;
}


.tick text{
    font-size: 20px;
}

.tick line{
    opacity: 0.4;
    stroke:black;
}